*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --ff: 'Outfit', sans-serif;

    --clr-main-bg: hsl(212, 45%, 89%);
    --clr-bg: hsl(0, 0%, 100%);
    --clr-text: hsl(220, 15%, 55%);
    --clr-head: hsl(218, 44%, 22%);

    --fs-p: 15px;

    --fw-400: 400;
    --fw-700: 700;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-main-bg);
    min-height: 100vh;
    max-width: 100vw;
    font-family: var(--ff);
    font-size: var(--fs-p);
}
main {
    max-width: 250px;
    min-height: 400px;
    background-color: var(--clr-bg);
    border-radius: 10px;
    box-shadow: 8px 8px 20px 0px rgba(0,0,0,0.1);
}
section {
    margin: 10px;
}
section img {
    max-width: 100%;
    border-radius: 5px;
}
section h1 {
    font-size: 18px;
    text-align: center;
    color: var(--clr-head);
}
section p {
    color: var(--clr-text);
    text-align: center;
    font-size: 13px;
}
.qr-image {
    max-width: 100%;
}